/**
 * Internet Explorer specific stylesheet
 *
 * Include IE specific hacks in this file.
 */

.primary-nav li a {
	border-bottom: 5px solid #E8D9C4;
}

#main{
	background: url(../images/white-bg-ie.png);
}
.widget{
	background: url(../images/sidebar-bg-ie.png) repeat-y left top;
}
.flex-caption{
	background: url(../images/black-bg-ie.png);
}